# Ignore the build output directories
/bin/
/obj/
/.idea/

/# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer XML (WiX) files
*.wixpdb

# Windows thumbnail cache files
Thumbs.db

# Windows Installer logs
*.cab
*.log

# JetBrains Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files for Visual Studio for Mac
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# .NET Core & ASP.NET Core
.vs2019/
.vs2017/
